@media screen and (max-width: 998px) {
  .title-section-1 {
    font-size: 3rem !important;
    margin-top: 10px !important;
  }
  .title-section-2 {
    margin-top: 20px !important;
    font-size: 2rem !important;
  }
  .margin {
    margin-top:5px !important;
    margin-bottom:10px  !important;
  }
  .title-3 {
    font-size: 2rem;
  }
  .cap {
    margin: 20px 0 0 0 !important;
  }
}
